//Introducción

.bg_grad-01
  position: relative
  padding: 30px
  .row, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100% 
    background-image: url("../assets/curso/temas/fondo.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/temas/fondo.jpg")
      background-repeat: no-repeat

.bgr
  background-color: #F4EAFC !important
  border-radius: 30px
  
.opa
  opacity: 5

.bg-amarillo-claro
  background-color: #F8EBFD
  border-radius: 0px

.bg_grad-02
  position: relative
  padding: 30px
  .row, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem 
    top: 0px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100% 
    background-image: url("../assets/curso/tema1/fondo1.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 0px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo1.jpg")
      background-repeat: no-repeat

.fondo-slyder
  background-color: #F4EAFC
  background-size: cover
  background-repeat: no-repeat
  padding: 1.5rem

.slyder-a__tipo-a .slyder-a__bullets 
    position: absolute
    bottom: 20px
    left: 50%
    transform: translateX(-50%)

.slyder-a__bullets__item--active 
  background-color: #E33FFD
  border-color: #E33FFD
  opacity: 1

.slyder-a__bullets__item 
  width: 15px;
  height: 15px;
  background-color: #E33FFD

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50px
  height: 50px
  background-color: #fff
  border-radius: 50%
  top: 90%

.slyder-a__tipo-a .slyder-a__btn--sigt 
  transform: translateY(-50%) rotate(-90deg)
  right: 0px

.aling-1
  text-align: left  !important
  margin-top: 6rem
  margin-left: 3rem
  white-space: 10px

.aling-2
  text-align: left  !important
  margin-top: 2rem
  margin-left: 2rem
  white-space: 5px

.tabs-c__content-item
  background-image: url(../assets/curso/tema1/fondo.svg)
  background-repeat: no-repeat
  background-size: cover

.tabs-c
  border-bottom: 0px

.tabs-c__header
  margin-bottom: 0px

.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #361D90 !important

.tabs-c.color-primario .tabs-c__tab--active::before
  border-top-color: #361D90

.tabs-c__tab--active
  color: #12263F
  font-weight: bold

.txt-deco1
  color: #12263F
  font-weight: bold

.bg_grad-01
  position: relative
  .row, .titulo-segundo, p, .titulo-sexto,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -0rem
    top: 30px
    left: 0px
    width: calc( 100% + 3rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo2.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -2rem
      top: 60px
      left: 0px
      width: calc( 100% + 3rem)
      height: 100%
      background-image: url("../assets/curso/tema1/fondo2.jpg")
      background-repeat: no-repeat

.tarjeta--rosa
  background-color: #F9F7EC